
@model DOCUMENTS_VW

@{
    var privatelst = Model.LstDocument.Where(c => !c.IS_PUBLIC).ToList();
    var publiclst = Model.LstDocument.Where(c => c.IS_PUBLIC).ToList();
    var sharedLst = Model.LstShared.ToList();
}


@if (publiclst.Count() > 0)
{


    <h4 class="  mb-3">My Public Photos</h4>

    <!-- Gallery -->
    <div class="row">



        @for (int i = 0; i < publiclst.Count(); i++)
        {

            DOCUMENTS_TB item = publiclst[i];
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 my-3">
                <div class="hovereffect">

                    <img class="img-responsive img-fluid h-100 w-100" src='@Url.Content("~/Documents/")@item.FILE_NAME ' alt="">
                    <div class="overlay">

                        <p>
                            <a asp-action="UploadFile" asp-route-DoId="@item.DOC_ID" target="_self">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a class="mx-3" asp-action="DownloadFile" asp-route-DOC_ID="@item.DOC_ID" target="_blank">
                                <i class="fas fa-cloud-download-alt"></i>
                            </a>

                            <a class="btn-show" data-DOC_ID="@item.DOC_ID" data-CAPUTURED="@item.CAPUTURED" data-TAGS="@item.TAGS" data-GEOLOCATION="@item.GEOLOCATION" data-CAPUTURED_DATE="@item.CAPUTURED_DATE" data-ORGINAL_FILE_NAME="@item.ORGINAL_FILE_NAME" data-FILE_SIZE="@item.FILE_SIZE" data-FILE_TYPE="@item.FILE_TYPE">
                                <i class="fas fa-eye"></i>
                            </a>

                            
                            <a class=" btn-delete" style="cursor:pointer" data-id="@item.DOC_ID">
                                <i class=" fas fa-trash-alt"></i>
                            </a>

                        </p>
                    </div>
                </div>
            </div>






        }



    </div>
}

@if (privatelst.Count() > 0)
{


    <h4 class="  my-3">My Private Photos</h4>


    <!-- Gallery -->
    <div class="row">



        @for (int i = 0; i < privatelst.Count(); i++)
        {

            DOCUMENTS_TB item = privatelst[i];
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 my-3">
                <div class="hovereffect">

                    <img class="img-responsive img-fluid h-100 w-100" src='@Url.Content("~/Documents/")@item.FILE_NAME ' alt="">
                    <div class="overlay">

                        <p>
                            <a asp-action="UploadFile" asp-route-DoId="@item.DOC_ID" target="_self">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a class="mx-3" asp-action="DownloadFile" asp-route-DOC_ID="@item.DOC_ID" target="_blank">
                                <i class="fas fa-cloud-download-alt"></i>
                            </a>
                            <a class="btn-show " data-DOC_ID="@item.DOC_ID" data-CAPUTURED="@item.CAPUTURED" data-TAGS="@item.TAGS" data-GEOLOCATION="@item.GEOLOCATION" data-CAPUTURED_DATE="@item.CAPUTURED_DATE" data-ORGINAL_FILE_NAME="@item.ORGINAL_FILE_NAME" data-FILE_SIZE="@item.FILE_SIZE" data-FILE_TYPE="@item.FILE_TYPE">
                                <i class="fas fa-eye"></i>
                            </a>

                            @*<a class="btn-log mx-3" style="cursor:pointer" data-id="@item.DOC_ID"><i class="fas fa-folder-open"></i></a>*@
                            <a class=" btn-delete" style="cursor:pointer" data-id="@item.DOC_ID">
                                <i class=" fas fa-trash-alt"></i>
                            </a>

                        </p>
                    </div>
                </div>
            </div>






        }



    </div>


}

@if (sharedLst.Count() > 0)
{
    <h4 class="  my-3"> Photos Shared with me</h4>
    <!-- Gallery -->
    <div class="row">



        @for (int i = 0; i < sharedLst.Count(); i++)
        {

            DOCUMENTS_TB item = sharedLst[i].DOCUMENTS;
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 my-3">
                <div class="hovereffect">

                    <img class="img-responsive img-fluid h-100 w-100" src='@Url.Content("~/Documents/")@item.FILE_NAME ' alt="">
                    <div class="overlay">

                        <p>
                            <a class="mr-3" asp-action="UploadFile" asp-route-DoId="@item.DOC_ID" target="_self">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a asp-action="DownloadFile" asp-route-DOC_ID="@item.DOC_ID" target="_blank">
                                <i class="fas fa-cloud-download-alt"></i>
                            </a>
                            <a class="btn-show  ml-3" data-DOC_ID="@item.DOC_ID" data-CAPUTURED="@item.CAPUTURED" data-TAGS="@item.TAGS" data-GEOLOCATION="@item.GEOLOCATION" data-CAPUTURED_DATE="@item.CAPUTURED_DATE" data-ORGINAL_FILE_NAME="@item.ORGINAL_FILE_NAME" data-FILE_SIZE="@item.FILE_SIZE" data-FILE_TYPE="@item.FILE_TYPE">
                                <i class="fas fa-eye"></i>
                            </a>

                            @*<a class="btn-log ml-3" style="cursor:pointer" data-id="@item.DOC_ID"><i class="fas fa-folder-open"></i></a>*@


                        </p>
                    </div>
                </div>
            </div>






        }



    </div>
}
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Item</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" asp-action="DeleteFile">
                <input type="hidden" name="DOC_ID" id="delete_doc_id" />
                <div class="modal-body">
                    <div>You are sure to delete this item</div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" style="background-color:purple">Delete</button>
                </div>
            </form>

        </div>
    </div>
</div>


<div class="modal fade" id="docLogModal" tabindex="-1" role="dialog" aria-labelledby="docLogModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Photo Logs</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" asp-action="DeleteFile">
                <div class="modal-body">
                    <table class="table table-striped  table-responsive" id="tb_log">
                        <thead>
                            <tr>

                                <th>#</th>
                                <th></th>
                                <th>Photo Name</th>
                                <th>Caputured</th>
                                <th>
                                    Caputured Date
                                </th>
                                <th>Geolocation</th>
                                <th>Tags</th>
                                <th>Size (KB)</th>
                                <th>Photo Type</th>
                                <th>Created By</th>
                                <th>Created Date</th>
                                <th>Download</th>
                            </tr>

                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </form>

        </div>
    </div>
</div>





<div class="modal fade" id="showDocDetailsModal" tabindex="-1" role="dialog" aria-labelledby="showDocDetailsLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Photo Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">


                <div>
                    <h6 style="font-weight:700">Photo Name</h6>
                    <p id="lblorginal_file_name"></p>
                </div>
                <div>
                    <h6 style="font-weight:700">Caputured</h6>
                    <p id="lblcaputured"></p>
                </div>
                <div>
                    <h6 style="font-weight:700"> Caputured Date</h6>
                    <p id="lblcaputured_date"></p>
                </div>

                <div>
                    <h6 style="font-weight:700">Geolocation</h6>
                    <p id="lblgeolocation"></p>
                </div>

                <div>
                    <h6 style="font-weight:700">Tags</h6>
                    <p id="lbltags"></p>
                </div>

                <div>
                    <h6 style="font-weight:700">Size (KB)</h6>
                    <p id="lblfile_size"></p>
                </div>

                <div>
                    <h6 style="font-weight:700">Photo Type</h6>
                    <p id="lblfile_type"></p>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>



@section scripts{

    <script>
        $(document).ready(function () {

            $('.btn-delete').click(function () {
                var id = $(this).data('id');
                $('#delete_doc_id').val(id);
                $("#deleteModal").modal('show')
            });
            $('.btn-log').click(function () {
                var id = $(this).data('id');
                GetDocLog(id);
            });

        })
        $('.btn-show').on('click', function (e) {
            var doc_id = $(this).data('doc_id');
            var caputured_date = $(this).data('caputured_date');
            var orginal_file_name = $(this).data('orginal_file_name');
            var file_size = $(this).data('file_size');
            var file_type = $(this).data('file_type');
            var tags = $(this).data('tags');
            var geolocation = $(this).data('geolocation');
            var caputured = $(this).data('caputured');
            $('#showDocDetailsModal #lblorginal_file_name').text(orginal_file_name)
            $('#showDocDetailsModal #lblcaputured').text(caputured)
            $('#showDocDetailsModal #lblgeolocation').text(geolocation)
            $('#showDocDetailsModal #lbltags').text(tags)
            $('#showDocDetailsModal #lblfile_type').text(file_type)
            $('#showDocDetailsModal #lblfile_size').text(file_size)
            $('#showDocDetailsModal #lblcaputured_date').text(caputured_date)
            $('#showDocDetailsModal').modal('show')
        })
        var GetDocLog = function (id) {
            var url = '@Url.Content("~/Home/GetDocLog")';
            $.ajax({
                type: "GET",
                url: url,
                dataType: 'json',
                data: { docId: id },
                contentType: 'application/json',
                success: function (data) {
                    var data = JSON.parse(data);

                    var html = ''
                    $.each(data, function (index, item) {
                        html += '<tr>'
                        html += '<td>' + (index + 1) + '</td>'
                        html += '<td> <img style="height:50px; width:50px" src="@Url.Content("~/Documents/")' + item.FILE_NAME + '" /></td>'

                        html += '<td>' + item.ORGINAL_FILE_NAME + '</td>'
                        html +=' <td>' +item.CAPUTURED+'</td>'
                        html +=' <td>' +item.CAPUTURED_DATE+'</td>'
                        html +='<td>'  +item.GEOLOCATION+'</td>'
                        html += '<td>' + item.TAGS+'</td>'
                        html += '<td>' + item.FILE_SIZE + '</td>'
                        html += '<td>' + item.FILE_TYPE + '</td>'
                        html += '<td>' + item.CREATED_BY_USER.FIRST_NAME + '</td>'
                        html += '<td>' + remove_time(item.CREATED_ON) + '</td>'
                        html += '<td>  \
                                    <a class="text-purple  style="cursor:pointer" href="/Home/DownloadLogFile?DOC_ID='+ item.DOC_LOG_ID+'">\
                                            <i class="fas fa-cloud-download-alt"></i>\
                                    </a>\
                                </td>'

                        html += '</tr>'
                    })
                    $('#tb_log tbody').html(html)
                    $("#docLogModal").modal('show')

                    return false;
                },
                error: function (jqXHR, textStatus, errorThrown) {

                    //GetErrorMessage(jqXHR, textStatus, errorThrown);
                }
            });
        };
    </script>

    <style>

        @@media (min-width: 576px) {
            #docLogModal .modal-dialog {
                max-width: 1000px !important;
            }
        }
    </style>

    <style>

        .category-list-grid__item {
            position: relative;
            border-radius: 8px;
            overflow: hidden;
        }

            .category-list-grid__item > span {
                display: flex;
                flex-direction: column;
                position: absolute;
                z-index: 2;
                left: 0;
                right: 0;
                padding: 0 24px;
                color: #fff;
                text-align: center;
                transition: transform .3s;
                bottom: 10px;
                font-weight: 800;
            }
        /* .sub-item1 {
            grid-area: submyArea;
        }
        .item1 {
            grid-area: myArea;
            display: grid;
            grid-gap: 10px;
            background-color: red;
            grid-template-areas: 'submyArea ...';
        }


        .grid-container {
            display: grid;
            grid-template-areas: 'myArea myArea myArea myArea myArea';
            grid-gap: 10px;
            background-color: #2196F3;
            padding: 10px;
        }

        .grid-container > div {
            background-color: rgba(255, 255, 255, 0.8);
            text-align: center;
            font-size: 30px;
            border-radius: 8px;
        }*/


    </style>
}