<h4 class="text-center  mb-3">@ViewData["Title"]</h4>

@model DOCUMENTS_TB

@{
    var users = ViewBag.UserLst as List<USERS_TB>;
    var shared_document = ViewBag.shared_document as List<DOC_SHARED_TB>;
    bool isShredWithMe = ViewBag.isSharedWithMe == null ? false : true;

}
<form method="post" asp-action="UploadFile" id="form" enctype="multipart/form-data">
    <div asp-validation-summary="All" class="text-danger"></div>


    <div class="row px-3">
        <h6 class="mb-0 text-sm mr-3">Photo</h6>


        <a class="text-purple mb-2 btn-download" style="display:none" asp-action="DownloadFile" asp-route-DOC_ID="@Model?.DOC_ID" target="_blank">
            <i class="fas fa-cloud-download-alt"></i>
        </a>


        <input type="file" asp-for="@Model.FILE">

    </div>
    <div class="row px-3">
        <label class="mb-1">
            <h6 class="mb-0 text-sm">Caputured</h6>
        </label> <input asp-for="@Model.CAPUTURED">
        @*<span asp-validation-for="@Model.CAPUTURED" class="text-danger"></span>*@

    </div>
    <div class="row px-3">
        <label class="mb-1">
            <h6 class="mb-0 text-sm">Caputured Date</h6>
        </label> <input asp-for="@Model.CAPUTURED_DATE">

    </div>
    <div class="row px-3">
        <label class="mb-1">
            <h6 class="mb-0 text-sm">Tags</h6>
        </label> <input asp-for="@Model.TAGS" />
    </div>
    <div class="row px-3">
        <label class="mb-1">
            <h6 class="mb-0 text-sm">Geolocation </h6>
        </label> <input asp-for="@Model.GEOLOCATION">
    </div>

    @if (!isShredWithMe)
    {
        @*<div class="row px-3 mb-4">
            <div class="custom-control custom-checkbox custom-control-inline">
                <input id="chk1" type="checkbox" asp-for="@Model.IS_PUBLIC" class="custom-control-input">
                <label for="chk1" class="custom-control-label text-sm">Do you want to make this document public?</label>
            </div>
            <a href="#" class="ml-auto mb-0 text-sm">Forgot Password?</a>
        </div>*@
        <div class="row px-3 mb-4">
            <div class="custom-control custom-checkbox custom-control-inline">
                @{
                    if (shared_document.Count() > 0)
                    {
                        <input checked id="SHARE_WITH_USERS" type="checkbox" name="SHARE_WITH_USERS" class="custom-control-input">
                    }
                    else
                    {
                        <input id="SHARE_WITH_USERS" type="checkbox" name="SHARE_WITH_USERS" class="custom-control-input">
                    }
                }
                <label for="SHARE_WITH_USERS" class="custom-control-label text-sm">Do you want to share this photo?</label>
            </div>
            @*<a href="#" class="ml-auto mb-0 text-sm">Forgot Password?</a>*@
        </div>

        <div class="row px-3 user-div" @Html.Raw(shared_document.Count() > 0 ? "" : " style='display:none;'")>
            <label class="mb-1">
                <h6 class="mb-0 text-sm">Please select the users you want to share your private photo with </h6>
            </label>
            <select id="USER_LST" name="SharedUser" multiple class="form-control select2">
                @{ foreach (var item in users)
                    {
                        if (shared_document.Where(c => c.USER_ID == item.Id).Count() > 0)
                        {
                            <option selected value="@item.Id">@item.FIRST_NAME</option>

                        }
                        else
                        {
                            <option value="@item.Id">@item.FIRST_NAME  @item.LAST_NAME</option>

                        }
                    }

                }

            </select>
        </div>
    }

    <div class="row my-3 px-3"> <button type="submit" class="btn btn-blue text-center">Save</button> </div>

</form>

@section Scripts{
    <script>

        $(document).ready(function () {
            $('#SHARE_WITH_USERS').click(function () {
                if ($('#SHARE_WITH_USERS').prop('checked')) {
                    $('.user-div').show();
                } else {

                    $('.user-div').hide();
                }
            })
            $('.select2').select2({
              placeholder: "Choose User You Want share the photo with",
                allowClear: true,
                minimumInputLength: 0,
                    language: {
                    noResults: function (params) {
                        return "no data found";
                    }
                    }
            });

            var doc_ID = '@ViewBag.DoId';
            if (doc_ID != null && doc_ID != "" && doc_ID != 0) {
                //GetDocumnetDetails(doc_ID)
                $('.btn-download').show();
                $('#form').append(' <input   type="hidden" name="DOC_ID" id="DOC_ID" value="' + doc_ID + '"/>')
                //$('#DOC_ID').val(doc_ID)
            }

        })

        var GetDocumnetDetails = function (id) {
            var url = '@Url.Content("~/Home/GetDocumnetDetails")';
            $.ajax({
                type: "GET",
                url: url,
                dataType: 'json',
                data: { docId: id },
                contentType: 'application/json',
                success: function (data) {
                    var data = JSON.parse(data);
                    var shared = data.shared_document
                    data = data.document
                    if (data != null) {
                        $('#DOC_ID').val(data.DOC_ID)
                        $('#CAPUTURED').val(data.CAPUTURED)
                        var date = new Date()
                        //date = date.toString("yyyy-MM-ddThh:mm");
                        $('#CAPUTURED_DATE').val(date)
                        $('#TAGS').val(data.TAGS)
                        $('#GEOLOCATION').val(data.GEOLOCATION)
                        if (data.IS_PUBLIC == true) {
                            $('#IS_PUBLIC').prop('checked', true)

                        }
                    }
                    var arr = [];
                    $.each(shared, function (index, item) {
                        arr.push(item.USER_ID)
                    })
                    $('#USER_LST').val(arr)
                    if (arr.length > 0) {
                        $('#SHARE_WITH_USERS').prop('checked', true).change()
                        $('.user-div').show();


                    } else {
                        $('#SHARE_WITH_USERS').prop('checked', false).change()
                        $('.user-div').hide();
                    }
                    $('.select2').select2({
                        placeholder: "Choose User You Want share the photo with him",
                        allowClear: true,
                        minimumInputLength: 0,
                        language: {
                            noResults: function (params) {
                                return "no data found";
                            }
                        }
                    });
                    return false;
                },
                error: function (jqXHR, textStatus, errorThrown) {

                    //GetErrorMessage(jqXHR, textStatus, errorThrown);
                }
            });
        }
    </script>
    <style>
        .select2-container {
            width: 100% !important;
        }

        .select2-container--default .select2-selection--single {
            height: 45px;
        }
    </style>
}